<html>
<head>

<meta charset="UTF-8">
<meta name="description" content="COVID-19 Data central">
<meta name="keywords" content="Covid, Covid19, virus, data, data analysis">
<meta name="author" content="o-gent">
<meta name="viewport" content="maximum-scale=1">

<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.0.1.min.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js"></script>

<style>

html {
  text-align: -webkit-center;
  text-align: -moz-center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color:#f5f5f5;
}

body {
    max-width: 1000px;
    background-color: white;
    border-radius: 3em;
}

div.main{
    max-width: 800px;
}

h3{
    padding-top: 2em;
}

div.form{
    max-width: 80%; 
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

label{
    background-color: #a3c2ff;
    border: none;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.5em 1em;
    cursor: pointer;
    border-radius: 16px;
}

@media only screen and (max-width: 768px) {
    label {
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
    }

    input[type="submit"]{
        font-size: x-large;
    }
}

div.end {
    padding-top: 2em;
    padding-bottom: 2em;
}

footer{
    padding-bottom: 2em;
}

</style>

</head>

<body>

<div class="main">
    <H1 style="padding: 1em;"> Covid-19 data central </H1>

    <p>
        last update: {{ last_update }}
    </p>

    <div class="section">
        
        <h2> 
            <i>info</i> 
        </h2>

        <div style="text-align: left;">

            <p>
                <b>description:</b>This web page aims to inform the reader about the spread of the COVID-19 virus without an opinion, just show what is happening around the world in a hopefully intuitive way. 
            </p>
            
            <p>
                <b>data:</b>The page data is refreshed daily inline with the source data which can be found at <a href="https://github.com/CSSEGISandData/COVID-19">github.com/CSSEGISandData/COVID-19</a> which has been organised by Johns Hopkins CSSE and sources its data from goverment websites. The population figures are taken from google search, usually they are a couple of years out of date but the discrepancy is assumed negligible.
            </p>
            
            <p>
                <b>code:</b>The source code for this website and data exploration of the dataset can be found at <a href="https://github.com/o-gent/ogent_covid19">github.com/o-gent/ogent_covid19</a>.
            </p>
            
            <p>
                <b>disclaimer ⚠: </b> This project has been done in my free time and you should cross reference with other data sources as I give no guarantee any of the information is correct, only 
                that I have made my best effort ensure it is. Browser/Mobile support is also questionable. 
            </p>

        </div>

    </div>

    <h2>
        Select countries / states
    </h2>

    <form action="/" method="get">
        <div class="form">
            {% for country in countries %}
                <div>
                    <label>
                        <input type="checkbox" name="{{ country }}"">
                        {{ country }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Submit">
    </form>


    <h3>Cumulative deaths by COVID-19</h3>

    {% if mobile %}
        <img src="/deaths_since_start_mobile.png{{ param }}" style="max-width: 800px;">
    {% else %}
        {{ script_plot1|safe }}
        {{ div_plot1|safe }}
    {% endif %}
    
    <p style="text-align: left;">
        Using days since the spread started (when deaths pass 0.0001% of the population) and number of deaths as a percentage of the population allows the state of virus spread between different countries. The target is a horizontal line - which means there are no new deaths. China is the best example of a country which shows a full recovery, The legitimacy of their data reporting is questionable however..
    </p>


    <h3>
        Acceleration of deaths
    </h3>
    
    {% if mobile %}
        <img src="/acceleration_deaths_plot_mobile.png{{ param }}" style="max-width: 800px;">
    {% else %}
        <img src="/acceleration_deaths_plot.png{{ param }}" style="max-width: 800px;">
    {% endif %}

    <p style="text-align: left;">
        The increase of deaths reported per day over the last 7 days as a percentage of the countries population.
        A positive acceleration means the number of deaths being reported per day is increasing - the situation is getting worse.
        Countries that are recovering will have a negative acceleration.
        Countries with a near 0 acceleration have stabilised the situation and should start to recover.
        Some countries have different policies for what counts as a death by covid-19, for example until recently France only counted covid-19 deaths which occured in hospitals. This would distort that countries data compared to countries which included deaths from home too. 
    </p>


    <h3>
        Acceleration of confirmed cases
    </h3>

    {% if mobile %}
        <img src="/acceleration_confirmed_plot_mobile.png{{ param }}" style="max-width: 800px;">
    {% else %}
        <img src="/acceleration_confirmed_plot.png{{ param }}" style="max-width: 800px;">
    {% endif %}

    <p style="text-align: left;">
        The increase of confirmed cases reported per day over the last 7 days as a percentage of the countries population. Confirmed cases isn't a relaible way of comparing countries as every country has different test coverage, it could however give an indication of the virus spread slowing down.
    </p>


    <h3>
        Planned features 🔜
    </h3>

    <ul style="list-style-type: none; text-align: left;">
        <li>
            ⬜ Predictions for when each country will peak
        </li>
        <li>
            ⬜ Table of absolute figures
        </li>
        <li>
            ⬜ Estimation of reproduction number for each country
        </li>
        <li>
            ⬜ Get me some fancy design going on
        </li>
    </ul>

    <h3>
        Further reading
    </h3>

    <ul style="list-style-type:none; text-align: left; word-wrap: break-word;">
        <li>
            <a href="https://www.washingtonpost.com/graphics/2020/world/corona-simulator/">https://www.washingtonpost.com/graphics/2020/world/corona-simulator/</a>
        </li>

        <li>
            <a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6</a>
        </li>

        <li>
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/">https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/</a>
        </li>

        <li>
            <a href="https://www.google.com/covid19/mobility/">https://www.google.com/covid19/mobility/</a>
        </li>
    </ul>

</div>

</body>

<footer>
</footer>

</html>
